# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

#.DS_STORE
.DS_STORE

#.env
.env

# upload image
/uploads

# Mockup Data
album.mockup.json
account.mockup.json
board.mockup.json